{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}

<div class="container mt-1 mb-5">

<form method="post" action="">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
    {% if error %}
    {{  dump(error) }}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}


      <div class="row">
<div class=" mt-5 container  p-0 " id='connexion1'>
<div id='login' class=" shadow-lg round mx-auto col-md-6 col-10 p-5 rounded ">
            <img class='mx-auto d-block mb-5' src="./images/GSB.png" alt="">
    <h1 class="h3 mb-3 text-white font-weight-normal">Se connecter</h1>
    <label for="inputLogin">Login</label>
    <input type="text" value="{{ last_username }}" name="login" id="inputLogin" class="form-control  mb-3" required autofocus>
    <label for="inputPassword">Password</label>
    <input type="password" name="password" id="inputPassword" class=" mb-3 form-control" required>
    <button type="submit" class=" round btn bg-white btn-lg btn-block">Envoyer</button>


    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}" >
          
          </div>
     </div>

      
    </div>

    {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
    #}

   
 </form>
{% endblock %}
{# 
<div class=" mt-5 container  p-0 " id='connexion1'>
    <div class="row ">
        <div id='login' class=" shadow-lg round mx-auto col-md-6 col-10 p-5 rounded ">
            <img class='mx-auto d-block mb-5' src="./images/GSB.png" alt="">
                <button type="button" onclick=window.location.href='{{path('app_login')}}' name="connexionVisiteur" id="" class=" round btn bg-white btn-lg btn-block">Se connecter</button>
        </div>

    </div>
</div> #}