<nav id="menu" class="navbar navbar-expand-sm navbar-light bg-light ">
    <a class="navbar-brand" href="#"></a>
    <button class="navbar-toggler d-lg-none " type="button" data-toggle="collapse" data-target="#collapsibleNavId"
            aria-controls="collapsibleNavId"
            aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav text-center">
            <li class="nav-item my-auto active mr-3 left">
                <img src="{{ asset('images/doctor.png') }}" alt="">
                <p class="d-inline">{{ app.user.prenom ~ ' ' ~ app.user.nom }} </p>
            </li>
        </ul>
        <ul class="navbar-nav text-center mx-auto">


            {% if is_granted('ROLE_ADMIN') %}

                <li class="nav-item active mr-3 ">
                    <a class="nav-link" href="{{ path('fichefrais_list') }}" title="Traitement des mises en paiement">Traitement des mises en paiement
                       <i class="fas fa-money-check-alt"></i></a>
                </li>
                <li class="nav-item active mr-3">
                    <a class="nav-link" href="{{ path('validateFrais') }}" title="Valider fiche de frais"> Valider fiche de frais
                       <i class="fas fa-check-circle "></i></a>
                </li>
            {% else %}
                <li class="nav-item active mr-3">
                    <a class="nav-link" href="{{ path('fichefrais_new') }}" title="ValiderCréation fiche"> Création fiche <i
                                class="fas fa-money-check-alt"></i></a>
                </li>
                <li class="nav-item active mr-3 ">
                    <a class="nav-link" href="{{ path('fiche_frais_month') }}" title="Mes fiches">Mes fiches <i class="fas fa-check-circle"></i></a>
                </li>

            {% endif %}
            <li class="nav-item active mr-3 ">
                <a class="nav-link" href="{{ path('app_logout') }}" title="Se déconnecter">Se déconnecter <i
                            class="fas fa-sign-out-alt"></i></a>
            </li>
        </ul>
    </div>
</nav>

