{% extends 'base.html.twig' %}

{% block title %}Lignefraishorsforfait index{% endblock %}

{% block body %}
    <h1>Lignefraishorsforfait index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Libelle</th>
                <th>Date</th>
                <th>Montant</th>
                <th>Mois</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for Lignefraishorsforfait in Lignefraishorsforfaits %}
            <tr>
                <td>{{ Lignefraishorsforfait.id }}</td>
                <td>{{ Lignefraishorsforfait.libelle }}</td>
                <td>{{ Lignefraishorsforfait.date ? Lignefraishorsforfait.date|date('Y-m-d') : '' }}</td>
                <td>{{ Lignefraishorsforfait.montant }}</td>
                <td>{{ Lignefraishorsforfait.mois }}</td>
                <td>
                    <a href="{{ path('Lignefraishorsforfait_show', {'id': Lignefraishorsforfait.id}) }}">show</a>
                    <a href="{{ path('Lignefraishorsforfait_edit', {'id': Lignefraishorsforfait.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('Lignefraishorsforfait_new') }}">Create new</a>
{% endblock %}
