{% extends 'base.html.twig' %}

{% block title %}Lignefraishorsforfait{% endblock %}

{% block body %}
    <h1>Lignefraishorsforfait</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ Lignefraishorsforfait.id }}</td>
            </tr>
            <tr>
                <th>Libelle</th>
                <td>{{ Lignefraishorsforfait.libelle }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ Lignefraishorsforfait.date ? Lignefraishorsforfait.date|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Montant</th>
                <td>{{ Lignefraishorsforfait.montant }}</td>
            </tr>
            <tr>
                <th>Mois</th>
                <td>{{ Lignefraishorsforfait.mois }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('Lignefraishorsforfait_index') }}">back to list</a>

    <a href="{{ path('Lignefraishorsforfait_edit', {'id': Lignefraishorsforfait.id}) }}">edit</a>

    {{ include('Lignefraishorsforfait/_delete_form.html.twig') }}
{% endblock %}
