
<div class="row">
    <div class="col-4 pr-4 pt-3  pl-4 ">
        <div id="cardForfait" class="bg-light round container">
            <h2 class="text-ocean pt-3">
                Frais Forfait
            </h2>
            <form method="POST" action="{{path("ligne_frais_forfait_maj")}}">
                <table class="table table-light">

                    <tbody>
                        {% for frais in fraisF %}
      
                            <tr>
                                <td scope="row">{{frais.fraisforfait.libelle}}</td>
                                <td id="qtForfait">
                                    <input type="text" class="form-control text-center" name="lesFraisForfait" id="QuantiteForfait" placeholder="{{frais.quantite}}">
                                </td>

                            </tr>
                        {% endfor %}

                    </tbody>
                </table>
                <input type="hidden" id='idVisiteur' name="idVisiteur" value="{{ fraisHF[0].idvisiteur.id }}">
                <input type="hidden" id='mois' name="mois" value="<? echo $mois ?>">
                <button type="submit" class="mt-3 mb-2 btn btn-default bg-dark text-white"> Enregistrer</button>
            </form>
        </div>

    </div>
    <div class="col my-auto align-self-end bg-white p-2 ml-5 m-2 round ">
        <h2 class="grey-text">Fiche frais de {{ fraisHF[0].idvisiteur.nom }}</h2>
        <br>
        <h2 class="text-ocean">
            Frais Hors Forfait
        </h2>
         <form method="POST" id="ValiderFiche" action="">

        <table class="table-light">
            <thead>
                <tr>
                    <th>Libelle</th>
                    <th>Date</th>
                    <th>Montant</th>
                    <th class="pl-2">
                    </th>

                </tr>
            </thead>   
            <tbody>
            {% for fraisHF in fraisHF %}         
                    <tr>                   
                        <td scope="row">{{fraisHF.libelle}}</td>
                        <td>{{fraisHF.date |date('d/m/y')}}</td>
                        <td class="p-2">{{fraisHF.montant}}</td>
                        <td class="p-2">

                            <label class="img-fluid img-check" for="<? echo $i ?>">
                                <i class="fas fa-trash-alt"><input type="checkbox"  data-token="{{csrf_token('delete')}}" data-idfrais= "{{fraisHF.id}}" onchange="checkValidation(this)" class='hidden' name="supprimer" id="<? echo $i ?>" value="suppression"></i>

                            </label>
                            <label class="img-fluid img-check" for="report<? echo $i ?>">
                                <i style='color: orange;' class="fas fa-bullhorn"> <input data-frais="{{fraisHF.id}}" data-token="{{csrf_token('report')}}" type="checkbox" onchange="reporter(this)" class='hidden' name="report" id="report<? echo $i ?>" value="report"></i>
                            </label>
                        </td>
                    </tr>
                 {% endfor %}

            </tbody>
         
        </table>
    </div>
</div>
<div class="row">
    <div class="mx-auto d-flex col-5 justify-content-center">
    <input type="hidden" name="idVisiteur" value="<? echo $idVisiteurFiche ?>">
                <input type="hidden" name="mois" value="<? echo $mois ?>">
         <button type="submit" class="mt-3 mb-2 btn btn-default bg-dark text-white" form="ValiderFiche"> Valider la fiche</button>
</form>
    </div>
               
                    
             {# <h3>Il n'y a pas de frais encore enregistré!</h3> #}
                  
               
           
</div>

            {% block javascripts %}           
<script>
  
    
</script>
{% endblock %}   