{% extends 'partials/container.html.twig' %}

{% block title %}Valider les fiches{% endblock %}

{% block content %}

    <div class="col-8 offset-4">

        <div id="criteresRecherche">
            <form method='POST' id="critere" action="{{path('sendFiche')}}">
                <div class="form-inline">

                    <label for="visiteur">
                        <h4 class="text-white">Visiteur :</h4>
                    </label>
                    <select class="form-control" name="visiteur" id="visiteur" onchange="getMois(this)">
                        <option value="">Veuillez selectionner un visiteur</option>
                        {% for visiteur in visiteurs %}
                            <option value="{{visiteur.id}}" >{{visiteur.nom}} </option>

                        {% endfor %}
                    </select>
                    <label class="" for="mois">
                        <h4 class=" ml-4 mr-2 text-white">
                            Mois :
                        </h4>
                    </label>
                    <select class="form-control" name='mois' id="mois" onchange="getFiche()">

                    </select>


                </div>


            </form>

        </div>

    </div>

    </div>

    <div id="tab-component"></div>
    {% if frais is defined %}
        {{include('frais/frais-tab.html.twig')}}
    {% endif %}
{% endblock %}
 {% block javascripts %}
     <script>


         function majFiche()
         {
             var data = $("#form-fraisf").serialize();
             $.ajax({
                 url: '{{path("ligne_frais_forfait_maj")}}',
                 type: 'POST',
                 data: data,
                 success: function(data) {
                     alert('frais modifié!')
                 },
                 error: function(data) {
                     alert('Récupération des données impossible');
                 }
             });

         }


         function reporter(elem){

             let rep = confirm("Voulez vous reporter ce frais ?")
             if (elem.checked == true && rep == true) {
                 let  idfrais = elem.dataset.frais;
                 var _token =  elem.dataset.token;
                 let url = '{{path('lignefraishorsforfait_report', { 'id': 0 })}}';
                 url = url.replace("0",idfrais);

                 $.ajax({
                     url: url,
                     type: 'POST',
                     data    :   {
                         '_token':
                         _token
                     },
                     success: function(result) {
                         alert(result.rep);
                         elem.closest('tr').remove();
                     },
                     error: function(e){
                         console.log(e.responseText);
                     }
                 });
             }
         }

         getMois = (elem) => {
             {
                 $.ajax({
                     type: 'GET',
                     url: '{{ path('sendMois') }}',
                     data: {
                         id: $(elem).val(),
                     },
                     dataType: 'json',
                     success: function(data) {
                         document.getElementById("mois").innerHTML = "";
                         $.each(data, function(i, obj) {
                             var option = document.createElement('option');
                             option.value = obj.mois;
                             option.innerHTML = obj.mois.substr(4)+ '/'+  obj.mois.substr(0,4);
                             document.getElementById("mois").appendChild(option);
                         })
                     },
                     error: function(data) {
                         alert('Récupération des donées impossible');
                     }
                 });

             } }

         function checkValidation(elem) {
             var _token =  elem.dataset.token;
             let idForfait = elem.dataset.idfrais;
             let url = '{{path('lignefraishorsforfait_delete', { 'id': 0}) }}';
             url = url.replace("0",idForfait);
             let rep = confirm("Voulez vous supprimer ce frais ?")
             if (elem.checked == true && rep == true) {

                 $.ajax({
                     url: url,
                     type: 'POST',
                     data    :   {
                         '_token':
                         _token
                     },
                     success: function(result) {
                         console.log('Delete');
                         elem.closest('tr').remove();

                     },
                     error: function(e){
                         console.log(e.responseText);
                     }
                 });
             }



         }


         getFiche = () => {
             {
                 var data = $("#critere").serialize();
                 $.ajax({
                     url: '{{ path('sendFiche') }}',
                     type: 'POST',
                     data: data,
                     success: function(data) {
                         $("#tab-component").html(data);


                     },
                     error: function(data) {
                         alert('Récupération des donées impossible');
                     }
                 });

             } }

     </script>

 {% endblock %}